<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="https://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="https://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>kaffadu@icloud.com</username>
      <password>${env.JFROG_TOKEN}</password>
      <id>central</id>
    </server>
    <server>
      <username>kaffadu@icloud.com</username>
      <password>${env.JFROG_TOKEN}</password>
      <id>snapshots</id>
    </server>
    <server>
      <username>kaffadu@icloud.com</username>
      <password>${env.JFROG_TOKEN}</password>
      <id>petappjfrog-repo</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>petappjfrog-repo</name>
      <url>https://trials7xrt1.jfrog.io/artifactory/petappjfrog-repo/</url>
      <id>petappjfrog-repo</id>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>petappjfrog-repo</name>
          <url>https://trials7xrt1.jfrog.io/artifactory/petappjfrog-repo/</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>snapshots</id>
          <name>petappjfrog-repo-snapshots</name>
          <url>https://trials7xrt1.jfrog.io/artifactory/petappjfrog-repo/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>petappjfrog-repo</name>
          <url>https://trials7xrt1.jfrog.io/artifactory/petappjfrog-repo/</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>snapshots</id>
          <name>petappjfrog-repo-snapshots</name>
          <url>https://trials7xrt1.jfrog.io/artifactory/petappjfrog-repo/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>